nav ul {
    list-style-type: NONE;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    border-radius: 30px;
    border-color: #34dbeb;
   
    
}

nav li {
        flex-grow: 1;
        
    }

img {
    width: fit-content;
}

nav a { 
    display: block;
    font-size: larger;
    font-weight: bold;
    font-size: clamp(1.25rem, 1.2vw, 1rem);
}

nav a.actif{
    color: #34dbeb;
    font-weight: bold;
}

nav a.actif:hover {
     color: rgb(20, 31, 129);
     font-weight: bold;
}

nav a.lien{
    font-weight: bolder;
    color: #155f66;
}

h1{
    text-align: center;
    background-color: rgba(130, 201, 241, 0.137);
    padding-top: 10px;
    margin-left: 5cm;
    margin-right: 5cm;
    padding-bottom: 10px;
    border-radius: 30px;
    
}